@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

:root {
    --clr-primary: hsl(245, 75%, 52%);
    --clr-primary-hover: #766CF1;

    --clr-dark: hsl(223, 47%, 23%);
    --clr-gray: hsl(224, 23%, 55%);
    --clr-bg: hsl(225, 100%, 94%);
    --clr-plan-bg: hsl(225, 100%, 98%);

    --font-main: 'Red Hat Display', serif;
}

* {
    box-sizing: border-box;
    font-family: var(--font-main);
    font-weight: 500;
    padding: 0;
    outline: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    color: var(--clr-dark);
}

.p {
    color: var(--clr-gray);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg);
    padding: 1rem 0;
    min-height: 100vh;
}

main {
    width: 500px;
    background-color: white;
    border-radius: 1.25rem;
}

.image, .image img {
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.data {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description .p {
    padding: 0 10%;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.5rem;
}

.plan {
    background-color: var(--clr-plan-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

.type {
    width: 70%;
    text-align: start;
    padding: 0 1rem;
}

.type .p {
    margin: 0 0 1rem;
}

.type h4 {
    margin: 1rem 0 0.5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem;
}

button {
    width: 100%;
    margin: 0.25rem 0;
    cursor: pointer;
    border-radius: inherit;
}

.proceed {
    background-color: var(--clr-primary);
    box-shadow: 0 10px 20px rgba(56, 42, 225, 0.3);
}

.proceed h4 {
    color: white;
}

.cancel {
    background-color: transparent;
    color: var(--clr-gray);
}

.cancel h4 {
    color: var(--clr-gray);
}

.proceed:hover {
    background-color: var(--clr-primary-hover);
}

.cancel:hover h4 {
    color: var(--clr-dark);
}

.plan a:hover {
    text-decoration: none;
    color: var(--clr-primary-hover);
}

.desc-img {
    position: fixed;
    width: 100%;
    top: -10%;
    z-index: -1;
}

.mob-img {
    display: none;
}

/* Media Queries */
@media screen and (max-width: 468px) {
    body {
        min-height: 100vh;
        max-height: 200vh;
    }

    main {
        width: 95%;
    }

    .description .p {
        padding: 0;
    }

    .desc-img {
        display: none;
    }

    .mob-img {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: -1;
    }

    @media screen and (max-width: 380px) {
        .type {
            width: 40%;
        }
    }
}

